body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
main {
    flex: 1 0 auto;
}
.dismissable{
    touch-action: none !important;
}
.tabContainer{
	width:100%;
}
.tabContent{
	width: 45%;
    margin: 0 auto;
}
.collection-item i{
	
    cursor:pointer;
}
.destroy{
}
@media screen and (max-width: 435px) {
    .tabContent{
	    width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .tabContent{
	    width: 88%;
        margin: 0 auto;
    }
}
/*
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
*/
input[type=text]:focus:not([readonly]){
	border-bottom:1px solid #ee6e73 !important;
	box-shadow:0 1px 0 0 #ee6e73 !important;
}

.chips.focus{
    border-bottom:1px solid #ee6e73 !important;
    box-shadow:0 1px 0 0 #ee6e73 !important;
}

.material-icons{
	color:	#ee6e73 !important;
}

.collection-item span.badge{
    margin-left: 0px;
    margin-right: 14px;
    float:left;
    text-transform: uppercase;
}