<li class="collection-item dismissable" data-sly-use.model="item.js">
    
    <span data-sly-test="${properties.priority == 'trivial'}" class="new badge green" data-badge-caption="${properties.priority}"></span>
    <span data-sly-test="${properties.priority == 'major'}" class="new badge blue" data-badge-caption="${properties.priority}"></span>
    <span data-sly-test="${properties.priority == 'blocker'}" class="new badge red" data-badge-caption="${properties.priority}"></span>
    
    <span>${properties.jcr:title}</span>
	
    <i data-sly-test="${properties.status == 'doing'}" class="secondary-content material-icons status" data-action="${model.todoItemAction}">replay</i>
	<i data-sly-test="${properties.status == 'doing'}" class="secondary-content material-icons status" data-action="${model.completeItemAction}">done_all</i>
    
    <i data-sly-test="${properties.status == 'todo'}" class="secondary-content material-icons destroy" data-action="${model.destroyItemAction}">delete_forever</i>
	<i data-sly-test="${properties.status == 'todo'}" class="secondary-content material-icons status" data-action="${model.doingItemAction}">build</i> 
 </li>