<div class="row" data-sly-use.model="todoapp.js" data-sly-test="${model.doneItems}">
	 <div class="col s12" >
		 <ul class="collection" data-sly-list="${model.doneItems}">
	         <sly data-sly-resource="${item}" data-sly-unwrap/>
		 </ul>
	 </div>
</div>