<div class="row" data-sly-use.model="todoapp.js">
    <div class="col s10 l5 m5">
        <div id="chipPriorAutoComplete" class="input-field chips chips-autocomplete"></div>
    </div>
    <div class="input-field col s10 l7 m7">
        <!-- i class="material-icons prefix">note</i-->
        <input id="new-todo" data-length="${properties.taskDescriptionSize}" placeholder="${properties.labelNewItem}" autofocus data-action="${model.addItemAction}" type="text"  class="validate" />
    </div>
 </div> 
 <div class="row" data-sly-test="${model.todoItems}">
     <div class="col s12">
         <ul class="collection" data-sly-list="${model.todoItems}">
             <sly data-sly-resource="${item}" data-sly-unwrap/>
         </ul>
     </div>
 </div>
